<div class="top_menu">
    <img src="5ch_logo.png" width="150px"/>
    <%= link_to("掲示板一覧", "/titles/index") %>
    <input type="text" name="name" />
    <input type="submit" value="スレタイ検索" />
</div>

<div class="top_image">
    <img src="5ch_animation.gif"/>
</div>